<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="{{ asset('img/logo-innova.png') }}" style="width:120px;">
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'products' or app.request.attributes.get('_route') == 'products_filtered' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('products')}}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Galería</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('contact')}}">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
