{% extends 'section_layout.html.twig' %}

{% block body %}

    {% block section_header %}
        <div class="header" style="background-image:url({{ asset('img/lights.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <h2>Galería</h2>
                <p>Algunas de nuestras aplicaciones</p>
            </div>
        </div>
    {% endblock %}

    {% block section_breadcrumb %}
        {{ parent() }}
    {% endblock %}

    {% block section_body %}

        <div class="container main">
            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>
            <div class="row no-gutters gallery">
                {% for project in projects %}
                    <div class="col-md-6 col-lg-4">
                        {% include ('innova/partials/project_item.html.twig')%}
                    </div>
                {% endfor %}

            </div>

        </div><!-- /.container -->

    {% endblock %}


{% endblock %}
