{% extends 'base.html.twig' %}

{% block body %}

    <div class="header" style="background-image:url({{ asset('img/light-panel.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <h2>Galería</h2>
        </div>
    </div>

    <div class="container marketing">

        <div class="row no-gutters">
            <div class="col-md-6 col-lg-4">
                <a href="" class="gallery-item">
                    <span class="mask">
                        <span class="info">
                            <h3>Landscape Trip</h3>
                            <p>
                                Blog About spacial trips 
                            </p>
                        </span>
                    </span>
                    <span style="background-image:url('https://placeimg.com/640/480/tech');" class="pic">
                    </span>
                </a>
            </div>
             <div class="col-md-6 col-lg-4">
                <a href="" class="gallery-item">
                    <span class="mask">
                        <span class="info">
                            <h3>Landscape Trip</h3>
                            <p>
                                Blog About spacial trips 
                            </p>
                        </span>
                    </span>
                    <span style="background-image:url('https://placeimg.com/640/480/tech');" class="pic">
                    </span>
                </a>
            </div>
             <div class="col-md-6 col-lg-4">
                <a href="" class="gallery-item">
                    <span class="mask">
                        <span class="info">
                            <h3>Landscape Trip</h3>
                            <p>
                                Blog About spacial trips 
                            </p>
                        </span>
                    </span>
                    <span style="background-image:url('https://placeimg.com/640/480/tech');" class="pic">
                    </span>
                </a>
            </div>
        </div>

    </div><!-- /.container -->



{% endblock %}
