{% extends 'base.html.twig' %}

{% block body %}

    {% include ('innova/partials/hero.html.twig')%}

    <div class="container-fluid">
        <section class="light">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4">
                        <div class='feature'>
                            <div class='icon'>
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            </div>
                            <h2> Iluminación</h2>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">Ver todo</a></p>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class='feature'>
                            <div class='icon'>
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            </div>
                            <h2> Iluminación</h2>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">Ver todo</a></p>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class='feature'>
                            <div class='icon'>
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            </div>
                            <h2> Iluminación</h2>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">Ver todo</a></p>
                        </div>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->

            </div>

        </section>

        <section>
            <div class="container">
                <div class="row featurette">
                    <div class="col-md-12">
                        <h2 class="featurette-heading">Productos destacados</h2>                        
                    </div>
                    {% for product in products %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            {% include ('innova/partials/product_item.html.twig')%}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="light">
            <div class="container">
                <div class="row featurette no-gutters">
                    <div class="col-md-12">
                        <h2 class="featurette-heading">Últimos proyectos</h2>
                    </div>
                    {% for project in projects %}
                        <div class="col-md-6 col-lg-4">
                            {% include ('innova/partials/project_item.html.twig')%}
                        </div>
                    {% endfor %}
                </div>          
            </div>
        </section>


    </div><!-- /.container -->

{% endblock %}

{% block javascripts %}
    {{ parent()}}
{% endblock %}
