{% extends 'base.html.twig' %}

{% block body %}

    <div class="header">
        <div class="container">
            <h2>{{product.name}}</h2>
        </div>
    </div>
    <div class="container main">
        <div class="product-content">

            <div class="row">
                <div class="col-md-5">
                    <div style="background-image:url('{% path product.picture, 'big' %}');" class="main-pic">
                    </div>
                </div>
                <div class="col-md-7 info">

                    <div class="description">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#description" role="tab" data-toggle="tab" aria-expanded="true">Descripción</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#details" role="tab" data-toggle="tab" aria-expanded="false">Características técnicas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#requirements" role="tab" data-toggle="tab" aria-expanded="false">Componentes</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="description" aria-expanded="true">
                                {{product.description}}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="details" aria-expanded="false">
                                {{product.longDescription | raw}}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="requirements" aria-expanded="false">
                                {{product.specs | raw}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- /.container -->

{% endblock %}
