{% extends 'base.html.twig' %}

{% block body %}

    <div class="header">
        <div class="container">
            <h2>{{product.name}}</h2>
        </div>
    </div>
    <div class="container main">



    </div><!-- /.container -->

{% endblock %}
