{% extends 'base.html.twig' %}

{% block body %}

    {% block section_header %}

    {% endblock %}

    {% block section_breadcrumb %}
        <div class="submenu">
            <div class="container">
                {{ knp_menu_render('breadcrumb') }}
            </div>
        </div>
    {% endblock %}

    {% block section_body %}
    {% endblock%}

{% endblock %}