body {
    padding-top: 68px;
    color: #5a5a5a;
    background: #eee;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}

.container-fluid{
    padding:0;
}

.container.main{
    padding-bottom: 70px;
    min-height: 500px;
}

.header{
    position:relative;
    height: 200px;
    background-image: linear-gradient(310deg,#272b53 0,#4f7296 90%);
    color: white;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: 50% 50%;
}
.header .overlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.3);
}
.header h2{
    margin-bottom:20px;
}

section{
    padding:90px 0px;
}

.context{
    text-align:center;
}
.context h2{
    color: #292b2c;
}
.context p{
    color: #454545;
}

.featurette{
    display:flex;
    align-items: center;
}
.featurette .featurette-heading{
    margin-top:0;
}

section.light{
    background:#fff;
}

/* ---------------- BUTTONS ---------------*/

.btn-primary{
    background: linear-gradient(to bottom,#01a1e4 0,#0178ad 100%);
    box-shadow: rgba(23,43,99,.24) 0 7px 28px;
    width: 100%;
    padding: 18px 20px;
    text-align: center;
    outline: 0;
    border: none;
    cursor: pointer;
    margin-top: 23px;
    font-weight: 500;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(106,132,158,.6);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

/* ---------------- FORMS ----------------*/

input[type=text], input[type=email]{
    font-size: 16px;
    margin-top: 20px;
    outline: 0;
    color: #888;
    background: #fff;
    padding: 16px 20px;
    border: 1px solid #cbcdd2;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

textarea{
    font-size: 16px;
    margin-top: 20px;
    outline: 0;
    color: #888;
    background: #fff;
    padding: 16px 20px;
    border: 1px solid #cbcdd2;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

/*------------- TABLES ----------------------*/
table{
    width: 100%;
    max-width: 100%;
    border:none;
    background:white;
}
table th, table td{
    padding: 0.75rem;
    vertical-align: top;
}

/*------------- LIST-GROUP -----------------*/
.list-group{
    margin-bottom: 50px;
}
.list-group-item.active{
    background-color: #048cbf;
}


/*------------- PRODUCTOS -----------------*/

.product{
    margin-bottom: 30px;
}

.product-pic{
    display: block;
    background-size: cover;
    background-position: center center;
    height: 200px;
    width: 100%;
    background-color: white;
}
.product .info{
    padding:15px 0 0 0;
}
.product .info .name{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #292b2c;
    margin-bottom: 0;
}
.product .info .description{
    color: #454545;
    font-size:14px;
}

/*----------- INTERIOR DE PRODUCTO ---------*/
.product-content .main-pic{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.product-content .nav-tabs .nav-link.active{
    background-color: transparent;
    border-color: #ddd #ddd #eee;
}
.product-content .tab-content{
    min-height: 300px;
    padding:20px;
}
.product-content .tab-content .tab-panel{
    font-family: 'Roboto', sans-serif;
}


/*------------- GALERIA -------------------*/

.gallery-item{
    overflow: hidden;
    position: relative;
    display: block;
    margin: 5px;
}
.gallery-item:hover .mask{
    opacity:1;
}
.gallery-item:hover .pic {
    -moz-transform: scale3d(1.1,1.1,1.1);
    -o-transform: scale3d(1.1,1.1,1.1);
    -ms-transform: scale3d(1.1,1.1,1.1);
    -webkit-transform: scale3d(1.1,1.1,1.1);
    transform: scale3d(1.1,1.1,1.1);
}

.gallery-item .mask{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(68,101,144,.9);
    opacity: 0;
    z-index: 9;
    color: #fff;
    text-align: center;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.gallery-item .mask h3{
    margin-top: 70px;
    font-size: 23px;
}
.gallery-item .mask p{
    color: #bfceec;
    font-size: 15px;
    font-weight: 600;
}
.gallery-item .pic{
    display: block;
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 100%;
    float: left;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

/*-------------- CONTACTO ----------------*/
.contact-form{
    margin:0 auto;
    width:100%;
    max-width: 550px;
}

.contact-form p{
    text-align: center;
}

.contact-map{
    margin-top: 120px;
    position: relative;
    height: 450px;
    width: 100%;
}

/*-------------- FOOTER ----------------*/

footer{
    padding: 70px 0 90px;
    background: #353d4d;
    position: relative;
}