html, body{
    min-height:100%;
}
body {
    color: #5a5a5a;
    background: #fff;
    font-family: 'Lato', sans-serif;
}

.container-fluid{
    padding:0;
}

.container.main{
    padding-bottom: 70px;
    min-height: 500px;
}

.alert{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.header{
    position:relative;
    height: 250px;
    background-image: linear-gradient(310deg,#272b53 0,#4f7296 90%);
    color: white;
    /*margin-bottom: 50px;*/
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50% 50%;
}
.header .overlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(30, 37, 47, 0.73);
}
.header .container{
    position: relative;
}
.header h2{
    margin-bottom: 5px;
    font-size: 26px;
    text-align: center;
}
.header p{
    margin:0;
    text-align:center;
    font-weight: 600;
    color: #bfceec;
}

.upper-title{
    font-size: 14px;
    letter-spacing: 0.075em;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    height: 55px;
    line-height: 55px;
    padding: 0;
    margin:0;
}


.featurette{
    display:flex;
    align-items: center;
}
.featurette .featurette-heading{
    margin-top:0;
    margin-bottom:50px;
    text-align: center;
    font-size: 24px;
}

/*--------- SECTIONS ------------------*/
section{
    padding:90px 0px;
    background: #eee;
}
section.light{
    background:#fff;
}
/*------------- SOCIAL ---------------*/
.fa-facebook{
    background: #3B5998;
    padding: 2px 5px;
    border-radius: 1px;
    margin-right: 3px;
    width: 19px;
    height: 19px;
}
/* ---------------- BUTTONS ---------------*/

.btn-primary{
    background: linear-gradient(to bottom,#01a1e4 0,#0178ad 100%);
    box-shadow: rgba(23,43,99,.24) 0 7px 28px;
    width: 100%;
    padding: 18px 20px;
    text-align: center;
    outline: 0;
    border: none;
    cursor: pointer;
    margin-top: 23px;
    font-weight: 500;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(106,132,158,.6);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.btn-secondary{
    color: #2c394d;
    background-color: #fff;
    border-color: #ccc;
    border: 0;
    font-weight: 600;
    display: inline-block;
    box-shadow: rgba(23,43,99,.24) 0 3px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 12px 23px;
    text-shadow: 1px 1px rgba(0,0,0,.09);
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

/* ---------------- FORMS ----------------*/

input[type=text], input[type=email], input[type=password]{
    font-size: 16px;
    margin-bottom: 15px;
    outline: 0;
    color: #888;
    background: #fff;
    padding: 16px 20px;
    border: 1px solid #cbcdd2;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

textarea{
    font-size: 16px;
    margin-bottom: 15px;
    outline: 0;
    color: #888;
    background: #fff;
    padding: 16px 20px;
    border: 1px solid #cbcdd2;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
input[type=text], input[type=email], input[type=password], textarea{
    font-weight: 600;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
    border-color: #31708f;
}


/*------------- TABLES ----------------------*/
table{
    width: 100% !important;
    max-width: 100%;
    border:none;
    background:white;
}
table th, table td{
    padding: 0.75rem;
    vertical-align: top;
}

/*------------- LIST-GROUP -----------------*/
.list-group{
    margin-bottom: 50px;
    border-radius: 0;

}
.list-group-item:first-child {
    border-radius:0 !important;
}
/*.list-group-item{
    border:none;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 0;
    margin-bottom: 0;
}

.list-group-item.active{
    color: #048cbf;
    border-color: #EFEFEF;
    background:transparent;
}*/

/*------------- NAVBAR --------------------*/

.nav-info{
    background: #0f1115;
    height: 40px;
    line-height: 40px;
    color:#dedede;
    width:100%;
    display:none;
}
.nav-info .container{
    height: 100%;
}
.nav-info .content{
    border-bottom:1px solid #384348;
    height: 100%;
}
.nav-info .caption{
    float:left;
    font-size: 12px;
    text-transform:uppercase;
}
.nav-info .phone i{
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
    width:12px;
    height:14px;
    position: relative;
    float: left;
    top: 14px;
    color: #06a7ec;
}
.navbar{
    background:#0f1115;
    width:100%;
    /*    height:75;*/
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
.navbar .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.75);
}

.navbar input{
    font-size:14px;
    height:35px;
    padding: 7px 15px 5px 15px;
    margin:0;
    background:#cecece;
    margin-left:2rem;
    border-color: #cecece;
    width: 170px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar input:focus{
    border-color: #eee;
}
.navbar .input-group-append{
    height:35px;
}
.navbar .btn-primary{
    width: 100%;
    padding: 4px 12px;
    margin:0;
    box-shadow: none;
    width:40px;
    height:35px;
    color: #fcfcfc;
    background-color: #0177ab;
    background: linear-gradient(to bottom,#01a1e4 0,#0178ad 100%);
    border-color: #eeeeee;
    text-shadow:none;
}

/*-------------- SUBMENU DE BREADCRUMBS-----*/
.submenu{
    margin-bottom: 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);

}
.submenu ul{
    list-style: none;
    margin:0;
    padding:15px 0px;
}
.submenu ul li{
    display:inline-block;
}
.submenu ul li span{
    color: #8a8a8a;
}
.submenu ul li a{
    color: #333;
}
.submenu ul li:after{
    content: '>';
    margin: 0 7px 0 7px;
}
.submenu ul li:after{
    font-family: "FontAwesome";
    content: '\f105';
    margin: 0 4px 0 8px;
}
.submenu ul li.last:after{
    display:none;
}

/*-------------- LOGIN --------------------*/

.login-body{
    background-image: linear-gradient(310deg,#44718a 0,#273f4a 90%);
}
.login-page .login-header{
    margin-top:80px;
}
.login-page .login-header img{
    width: 250px;
    margin: 45px auto 60px;
    display: block;
}

.login-page .login-form{
    width: 360px;
    margin: 45px auto 60px;
}
.login-page .login-form input{
    margin-bottom:20px;
}
.login-page .login-form label{
    color:white;
}

/*-------------- HOME ---------------------*/

.home-hero{
    background-size: cover;
    height: 540px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.home-hero:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(58,71,90,.85);
}
.hero-content{
    position: relative;
    z-index: 9;
}
.home-hero h1{
    color: #fff;
    line-height: 46px;
    font-size: 30px;
    text-align: center;
    position: relative;
}
.home-hero p{
    text-align: center;
    color: #c3cada;
    font-size: 16px;
    position: relative;
}
.home-hero .btn-primary{
    width:auto;
    padding:12px 20px;
    margin-top: 50px;
    margin-bottom: 0;
    -webkit-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.feature{
    text-align: center;
}
.feature .icon i{
    font-size: 75px;
    border: 3px solid;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    color: #31708f;
    margin-bottom: 15px;
}
.feature h2{
    color: #31708f;
}


/*------------- PRODUCTOS -----------------*/

.product-list{
    margin-top:54px;
}

.product{
    margin-bottom: 30px;
    height: 300px;
    overflow: hidden;
}
.pic-container{
    overflow: hidden;
    position: relative;
    display: block;
}
.pic-container .mask{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: 9;
    color: #fff;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    font-size: 40px;
    cursor:pointer;
}

.product-pic{
    display: block;
    background-size: cover;
    background-position: center center;
    height: 200px;
    width: 100%;
    background-color: white;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.pic-container:hover .product-pic{
    -moz-transform: scale3d(1.1,1.1,1.1);
    -o-transform: scale3d(1.1,1.1,1.1);
    -ms-transform: scale3d(1.1,1.1,1.1);
    -webkit-transform: scale3d(1.1,1.1,1.1);
    transform: scale3d(1.1,1.1,1.1);
}
.pic-container:hover .mask{
    opacity:1;
}
.product .info{
    padding:15px 0 0 0;
}
.product .info .name{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #292b2c;
    margin-bottom: 0;
}
.product .info .description{
    color: #454545;
    font-size:14px;
}

/*----------- INTERIOR DE PRODUCTO ---------*/
.product-content{
    margin-bottom:60px;
    padding-bottom:70px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.product-content .main-pic{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.product-content .nav-tabs .nav-link.active{
    background-color: #fff;
    border-color: #ddd #ddd #fff;
}
.product-content .tab-content{
    min-height: 200px;
    padding:20px;
}
.product-content .tab-content .tab-panel{
    font-family: 'Roboto', sans-serif;
}
.product-content .card{
    height:400px;
    border-radius:0;
    border:none;
}
.product-content .card .card-header{
    background:transparent;
    padding: .75rem 0;
}
.product-content .card .card-header h2{
    font-size: 2rem;
    color: #444;
}
.product-content .card .card-header h4{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #777;
}
.product-content .card-header-tabs{
    margin-left:0;
    margin-right: 0;
    margin-top: 30px;
}
.product-content .card-block{
    padding:0;
}
.related h2{
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 24px;
}


/*------------- GALERIA -------------------*/

.gallery-item{
    overflow: hidden;
    position: relative;
    display: block;
    margin: 5px;
}
.gallery-item:hover .mask{
    opacity:1;
}
.gallery-item:hover .pic {
    -moz-transform: scale3d(1.1,1.1,1.1);
    -o-transform: scale3d(1.1,1.1,1.1);
    -ms-transform: scale3d(1.1,1.1,1.1);
    -webkit-transform: scale3d(1.1,1.1,1.1);
    transform: scale3d(1.1,1.1,1.1);
}

.gallery-item .mask{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(68,101,144,.9);
    opacity: 0;
    z-index: 9;
    color: #fff;
    text-align: center;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.gallery-item .mask h3{
    margin-top: 70px;
    font-size: 23px;
}
.gallery-item .mask p{
    color: #bfceec;
    font-size: 15px;
    font-weight: 600;
}
.gallery-item .pic{
    display: block;
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 100%;
    float: left;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

/*-------------- CONTACTO ----------------*/
.contact-form{
    margin:0 auto;
    width:100%;
    max-width: 550px;
}

.contact-form p{
    text-align: center;
    max-width: 550px;
    font-size: 18px;
    color: #61686e;
    margin-bottom: 50px;
}

.contact-map{
    margin-top: 120px;
    position: relative;
    height: 450px;
    width: 100%;
}

.contact-form .btn-primary{
    margin-top:10px;
}

/*--------------- SEARCH ----------------*/

.results-list .product{
    margin-bottom: 20px;
    height:auto;
}

.results-list .product .pic-container{
    float:left;
    margin-right: 50px;
}

.results-list > .row > [class*='col'] + [class*='col'] .product{
    border-top: 1px solid rgba(0,0,0,0.15);
    padding-top: 20px;
}

.results-list .product .product-pic{
    width: 260px;
    float:left;
}
.results-list .product .info{
    height:200px;
    padding-top:0;

}
.results-list .product .info .name{
    font-size:20px;
    margin-bottom: 5px;
}

/*-------------- FOOTER ----------------*/

footer{
    padding: 70px 0 90px;
    background: #0f1115;
    position: relative;
}
footer .title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}
footer .menu{
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}
footer .menu a{
    color: #cdd6e9;
    display: inline-block;
    margin-bottom: 9px;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
footer .bottom{
    margin-top: 40px;
    border-top: 1px solid #3a455a;
}
footer .bottom p{
    text-align: center;
    margin: 15px 0px;
    color: #9daac2;
    text-transform: uppercase;
    font-size: 11px;
}

.footer-contact img{
    width: 100%;
    max-width: 200px;
    margin-bottom: 30px;
    display: block;
}
.footer-contact p{
    color: #cdd6e9;
    margin-bottom: 9px;
    font-weight:bold;
}
.footer-contact p span{
    font-weight:400;
}



/*------------ MEDIA QUERIES -------------*/

@media (min-width: 576px){
    .nav-info{
        display:block;
    }
}

@media (min-width: 992px){
    .navbar-nav .nav-link{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        position:relative;
        line-height: 39px;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    .navbar-nav .nav-item.active .nav-link{
        color: #00a0e3;

    }
    .navbar-nav .nav-link:hover{
        color: #31708f !important;
    }

    .navbar{
        height:75px;
    }
}
