<div class="home-hero" style="background-image:url('http://spacialtheme.herokuapp.com/2.1/images/unsplash/jared-erondu-10472.jpg')">
    <div class='container'>
        <div class='hero-content'>
            <h1>Lorem ipsum dolor sit amet consectetum adispicin elit</h1>
            <p>Lorem ipsum dolor sit amet</p>
            <div class='text-center'>
                <a class='btn btn-primary' href='{{ path('contact')}}'>Contáctanos</a>
            </div>
        </div>
    </div>
</div>