<div href="" class="gallery-item">
    <span class="mask">
        <span class="info">
            <h3>{{project.name}}</h3>
            <p>
                {{project.description}}
            </p>
        </span>
    </span>
    <span style="background-image:url('{% path project.picture, 'big' %}');" class="pic">
    </span>
</div>
